/* Inizio Carousel */

.backcont{
    background-color: var(--grigio-chiaro);
    padding: 50px;
    background-image: url(./Media/img_repeat.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 15%;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
    
}


    /* border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden; */
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }

  @media screen and (max-width:800px){
    .backcont{
        padding: 30px;
    }
  }

.immaginiCarousel{
     height: 100%;
}
.section{
  margin-bottom:50px;
}


/* section numeri casuali*/
.spazio{
    
    margin-top: 1px;
    background-image: url(./Media/bilanciere_forma.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 110vh;
}
.immaginitonde{
    height: 200px;
    width: 200px;

}