
/* styles.css */
.custom-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    box-shadow: 4px 4px 5px;
    transition: 0.3s;
    background-color: #6e7170;
}

.formLabel {
    display: block;
    margin-bottom: 5px;
}

.formInput[type="text"],
.formInput[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #4c4f4e;
}

.formInput[type="text"],
.formInput[type="password"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #4c4f4e;
}

.formInput[type="submit"] {
    background-color: #4c4f4e;
    color: var(--white-smoke);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.formInput[type="submit"]:hover {
    background-color: #4c4f4e;
}

/* .custom-form2{
    width: 520px;
    margin: 0 auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    box-shadow: 4px 4px 5px;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.5);
    
} */