.cardP{
    position:relative;
    width: 450px;
    height:190px ;
    
    background:  rgba(255, 255, 255, 0.19);
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0,0,0,0.15);
    transition: 0.5s;
}

.cardP:hover{
    height: 450px;
}
.imgprofile{
    position:absolute;
    width: 130px;
    height: 130px;
    background: black;
    border-radius: 20px 0 20px 0;
    box-shadow: 0 15px 50px rgba(0,0,0,0.35);
    overflow: hidden;
    transition: 0.5s;
}
.cardP:hover .imgprofile{
    width: 200px;
    height: 200px;
}
.imgprofile img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardP .content{
    position:absolute;
    width: 100%;
    height: 100%; 
    display:flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}
.cardP .content .details{
    padding:40px;
    text-align:center;
    transition:0.5s;
    transform: translateY(230px);
}  



.cardP:hover .content .details{
    transform:translateY(200px);
    transform:translateX(100px);
    
}
.cardP .content .details h5{
    font-size: 1.25em;
    font-weight: 600;
    color: black;
    line-height: 1.2em;
}
.cardP .content .details span{
    font-size: 0.75em;
    font-weight: 500;
    
}
.btnP{
    height: 30px;
    margin-top:10px;
}
.cardP .content .details span p{
    font-size: 0.85em;
    font-weight: 400;
    
}

.lorem{
    margin-left:100px;
}
.search-form .search-input{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    box-shadow: 4px 4px 5px;
    width: 380px;
    height: 35px;
}

@media (max-width: 400px) {
    .search-form .search-input{
        width: 280px;
    }
  }

 .title-shadow{
    filter:drop-shadow(-3px -3px 2px rgba(255,255,255,0.3))
           drop-shadow(5px 5px 5px rgba(0,0,0,0.2))
           drop-shadow(15px 15px 15px rgba(0,0,0,0.2));
          
 }


 .imgPreview{
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
 }

.formClass{
    width: 40vw;
    /* height: 80vh; */
    box-shadow:20px 20px 50px var(--white-smoke); 
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}



