/* body */
body{
    background-color:  #9b9b9c;
}

*{
    font-family: 'Kanit', sans-serif;
}

/* Navbar */
.navbar{
    transition: 0.3s;
    z-index: 2;
}
.navcustom{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    width: 70%;
    box-shadow: 4px 4px 5px;
    transition: 0.3s;
}

.logo{
    
    width: 50px;
}

.nav-link{
    font-size: 25px;
    
    
}
.nav-link:hover{
    color: var(--nuovo);
}
.dropdown-menu{
<<<<<<< HEAD
    background-color:   #9b9b9c;
=======
    background-color: transparent;
    
>>>>>>> 181e6d6d14688f9b586f6e6c160923a34c4cf1c0
}
.dropdown-item{
    color:black;
}
.dropdown-item:hover{
<<<<<<< HEAD
    background-color: #9b9b9c;
=======
    background-color:var(--nuovo);
>>>>>>> 181e6d6d14688f9b586f6e6c160923a34c4cf1c0
}

/* Header */
.bgimg{
   background-image: url(/public/media/immagineIniziale.jpg);
   width: 100%;
   height: 90vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   
}

