/* body */
:root {
    --grigio-chiaro: #9b9b9c;
    --white-smoke: #f5f5f5;
}
.paragrafo{color: var(--white-smoke)}
body{
    background-color:  var(--grigio-chiaro);
}

p{
    font-family: 'Kanit', sans-serif;
}
h1,h2,h3{
    font-family: 'Orbitron', sans-serif;
}

/* Navbar */
.navbar{
    transition: 0.3s;
    z-index: 2;
}
.navcustom{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    width: 70%;
    box-shadow: 4px 4px 5px;
    transition: 0.3s;
}


.nav-link{
    font-size: 25px;
    
    
}
.nav-link:hover{
    color: var(--white-smoke);
}
.dropdown-menu{
    background-color: var(--grigio-chiaro);
    
}
.dropdown-item{
    color:black;
}
.dropdown-item:hover{
    background-color:var(--grigio-chiaro);
}

/* Header */
.bgimg{
    background-image: url(/public/media/immagineIniziale.jpg);
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* form login */
.containerlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 100px;
}
.form-control{
    width: 500px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    box-shadow: 4px 4px 5px;
    transition: 0.3s;
    
}

.marginSection{
    margin-top: 100px;
}

.fade-items{
    width: 50%;
    height: 230px;
    position: relative;
    margin: 30px;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
    border-radius: 15px;
    background: var(--grigio-chiaro);
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

@media screen and (max-width:600px){
    .fade-items{
        height: 450px;
        width: 70%;
        position: relative;
        margin: 30px;
        box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
        border-radius: 15px;
        background: var(--grigio-chiaro);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items:center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
    }
}

.btn1{
    box-shadow: 0 0 5px white, 0 0 25px white;
}
.btn1:hover{
    box-shadow: 0 0 5px white, 0 0 25px white,0 0 50 px white, 0 0 100px white, 0 0 200px white;
}

/* .containerx{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width:1200px;
    flex-wrap: wrap;
    z-index: 1;

} */

.containerx .card{
    position: relative;
    width: 77%;
    height: 450px;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    /* backdrop-filter: blur(5px); */
}


.containerx .card .content{
    padding-inline:20px;
    text-align:center;
    transition:0.5;  
}

/* .containerx .card .content h2{
    position: absolute; 
    top: 0px;
    right:30px;
    font-size:2em;
    color:#000;
    pointer-events: none;
} */

/* .containerx .card .content h3{
    font-size:1.8em;
    color:#fff;
    z-index:1;
} */

.containerx .card .content p{
    font-size: 1em;
    color:#fff;
    font-weight: 300;
}
.containerx .card .content a{
    position: relative;
    display: inline-block;
    padding:8px 20px;
    margin-top: 15px;
    background: #fff;
    color:#000;
    border-radius: 20px;
    text-decoration:none;
    font-weight:500 ;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
    
}
.img{
    border-radius: 15%;
}
.imgSection{
    border-radius:15%;
}
.button{
    margin-left:210px;
}

@media screen and (max-width:600px){
    .form-label{
        width: 200px;
    }
    .form-control{
        width: 250px;
    }
}
.dropdown-menu{
    background-color:var(--grigio-chiaro) ;
}

a.nav-link.dropdown-toggle.show::after{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
    
}


