/* body */
:root {
    --grigio-chiaro: #9b9b9c;
    --white-smoke: #f5f5f5;
}
.paragrafo{color: var(--white-smoke)}
body{
    background-color:  var(--grigio-chiaro);
}
.paragrafo2{color: var(--grigio-chiaro);}
p,a,address{
    font-family: 'Kanit', sans-serif;
}
h1,h2,h3,h4{
    font-family: 'Orbitron', sans-serif;
}

/* Navbar */
.navbar{
    transition: 0.3s;
    z-index: 2;
}
.navcustom{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    width: 70%;
    box-shadow: 4px 4px 5px;
    transition: 0.3s;
}


.nav-link{
    font-size: 25px;
    
    
}
.nav-link:hover{
    color: var(--white-smoke);
}
.dropdown-menu{
    background-color: var(--grigio-chiaro);
    
}
.dropdown-item{
    color:black;
}
.dropdown-item:hover{
    background-color:var(--grigio-chiaro);
}

/* Header */
.bgimg{
    background-image: url(/public/media/max-harlynking-CDLBz2lPpLM-unsplash.jpg);
    width: 100%;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* form login */
.containerlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 100px;
}
.form-control{
    width: 500px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    box-shadow: 4px 4px 5px;
    transition: 0.3s;
    
}

.marginSection{
    margin-top: 100px;
}

.fade-items{
    width: 50%;
    height: 230px;
    position: relative;
    margin: 30px;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
    border-radius: 15px;
    background: var(--grigio-chiaro);
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

@media screen and (max-width:2000px){
    .fade-items{
        height: 250px;
        
        margin-left: 0px;
        border-left-width: 0px;
        padding-left: 0px;
        width: 702px;
        position: relative;
        
        /* box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
        border-radius: 15px;
        background: var(--grigio-chiaro);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items:center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px); */
    }
}

@media screen and (max-width:1252px){
    .fade-items{
        height: 250px;
        
        margin-left: 0px;
        border-left-width: 0px;
        padding-left: 0px;
        width: 502px;
        position: relative;
        
        /* box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
        border-radius: 15px;
        background: var(--grigio-chiaro);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items:center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px); */
    }
}

@media screen and (max-width:1150px){
    .fade-items{
        height: 250px;
        
        margin-left: 0px;
        border-left-width: 0px;
        padding-left: 0px;
        width: 502px;
        position: relative;
        
        /* box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
        border-radius: 15px;
        background: var(--grigio-chiaro);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items:center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px); */
    }
}

@media screen and (max-width:1100px){
    .fade-items{
        height: 250px;
        
        margin-left: 30px;
        margin-right: 0px;
        width: 502px;
        position: relative;
        
        /* box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
        border-radius: 15px;
        background: var(--grigio-chiaro);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items:center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px); */
    }
}


@media screen and (max-width:1090px){
    .fade-items{
        height: 250px;
        
        margin-left: 50px;
        margin-right: 0px;
        border-left-width: 0px;
        padding-left: 0px;
        width: 402px;
        position: relative;
        font-size: small;
        /* /* box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
        border-radius: 15px;
        background: var(--grigio-chiaro);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items:center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px); */
    }
}


@media screen and (max-width:700px){
    .fade-items{
        height: 450px;
        
        margin-left: 0px;
        border-left-width: 0px;
        padding-left: 0px;
        width: 302px;
        position: relative;
        margin: 30px;
        /* box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
        border-radius: 15px;
        background: var(--grigio-chiaro);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items:center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px); */
    }
}

@media screen and (max-width:600px){
    .fade-items{
        height: 450px;
        
        margin-left: 0px;
        border-left-width: 0px;
        padding-left: 0px;
        width: 302px;
        position: relative;
        margin: 30px;
        /* box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
        border-radius: 15px;
        background: var(--grigio-chiaro);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items:center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px); */
    }
}

@media screen and (max-width:500px){
    .fade-items{
        height: 450px;
        
        margin-left: 0px;
        border-left-width: 0px;
        padding-left: 0px;
        width: 252px;
        position: relative;
        margin: 30px;
        /* box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
        border-radius: 15px;
        background: var(--grigio-chiaro);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items:center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px); */
    }
}

@media screen and (max-width:415px){
    .fade-items{
        height: 450px;
        /* width: 40%; */
        margin-left: 0px;
        border-left-width: 0px;
        padding-left: 0px;
        width: 202px;
        position: relative;
        font-size: smaller;
        /* box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
        border-radius: 15px;
        background: var(--grigio-chiaro);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items:center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px); */
    }
}

@media screen and (max-width:300px){
    .fade-items{
        height: 450px;
        width: 60%;
        margin-left: 0px;
        border-left-width: 0px;
        padding-left: 0px;
        /* width: 180px; */
        position: relative;
        
        /* box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
        border-radius: 15px;
        background: var(--grigio-chiaro);
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items:center;
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px); */
    }
}

.btn1{
    box-shadow: 0 0 5px white, 0 0 25px white;
}
.btn1:hover{
    box-shadow: 0 0 5px white, 0 0 25px white,0 0 50 px white, 0 0 100px white, 0 0 200px white;
}

.containerx{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width:1200px;
    flex-wrap: wrap;
    z-index: 1;

}

.containerx .card{
    position: relative;
    width: 320px;
    height: 500px;
    margin: 30px;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
    border-radius: 15px;
    background: #edbf67;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}


.containerx .card .content{
    padding-inline:20px;
    text-align:center;
    transition:0.5;  
}

.containerx .card .content h2{
    /* position: absolute; 
    top: 0px;
    right:30px; */
    font-size:1.3em;
    color:black;
    pointer-events: none;
} 

.containerx .card .content h3{
    font-size:1.8em;
    color:black;
    z-index:1;
}

.containerx .card .content h5{
    font-size: 1em;
    color:black;
    font-weight: 150;
    word-wrap: break-word;
    white-space: pre-wrap;
    
}
.containerx .card .content a{
    position: relative;
    display: inline-block;
    padding:8px 20px;
    margin-top: 15px;
    background: #fff;
    color:black;
    border-radius: 20px;
    text-decoration:none;
    font-weight:500 ;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.5);
    
}

.containerx .card .content p{
    max-width: 300px;
}

.img{
    border-radius: 15%;
    
}
.imgSection{
    border-radius:15%;
    /* width: 250px;
    height: 250px; */
}

@media (max-width: 400px) {
    .imgSection {
      width: 50%;
      height: 50%;
    }
  }
.button{
    margin-left:310px;
    color:#db9b20
}
.fashon3{
    height:650px ;
    width:650px ;
}
@media screen and (max-width:1500px){
    .form-label{
        width: 200px;
    }
    .form-control{
        width: 250px;
    }
    .fashon3{
        display: none;
       }
}
@media screen and (max-width:900px){
    .form-label{
        width: 200px;
    }
    .form-control{
        width: 250px;
    }
}
@media screen and (max-width:600px){
    .form-label{
        width: 200px;
    }
    .form-control{
        width: 250px;
    }
}
@media screen and (max-width:500px){
    .form-label{
        width: 200px;
    }
    .form-control{
        width: 250px;
    }
}

@media screen and (max-width:300px){
    .form-label{
        width: 200px;
    }
    .form-control{
        width: 250px;
    }
}


.dropdown-menu{
    background-color:var(--grigio-chiaro) ;
}

a.nav-link.dropdown-toggle.show::after{
    transform: rotate(180deg);
    transition: transform 0.5s ease-in-out;
    
}
.register{
    height: 50px;
    background-color:#9b9b9c;
}
.revisor{
    margin-left:50px;
  
}
.welcomebtn{
    margin-bottom:30px;
    background-color: #db9b20;
}

.page-link{
    background-color:transparent;
}
.pagination{
   
   --bs-pagination-active-bg:red;
   --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: black;
    --bs-pagination-bg: grey;
    --bs-pagination-border-width: black;
    --bs-pagination-border-color: black;
    --bs-pagination-border-radius: var(--bs-border-radius);
    --bs-pagination-hover-color: black;
    --bs-pagination-hover-bg: grey;
    --bs-pagination-hover-border-color: var(--bs-border-color);
    --bs-pagination-focus-color: black;
    --bs-pagination-focus-bg: grey;
    --bs-pagination-focus-box-shadow: 0 0 0 0.10rem grey;
    --bs-pagination-active-color:black;
    --bs-pagination-active-bg:grey;
    --bs-pagination-active-border-color:black;
    /* --bs-pagination-disabled-color:; */
    --bs-pagination-disabled-bg: transparent;
    --bs-pagination-disabled-border-color: grey;

}

.aFooter{
    text-decoration: none;
    color: #fff;
}

.aFooter:hover{
    color: red;
}
.message{
    float:left;
}
.categorie{
    border:var(--grigio-scuro) solid 2px;
    padding:10px;
    background-color: #edbf67; 
    
   
    
}
.cat{
    text-decoration: none;
    color:#952932;
    
}
.cat:hover{
    color:black;
    
}
/* .borderCat{
    border-right: black solid 3px;
   
}  */

@media screen and (max-width:1200px){
    
    .cat{
        margin-top:5px;
    }
}
.card:hoover{
    transition: 0.5s;
}
.color1{
    color: #db9b20;}
.color2{
   color: #edbf67;
}
.color3{
    color:#952932
}

.create{
    background-image: url(/public/media/fashonstyle.png);
}

