/* body */
:root {
    --grigio-chiaro: #9b9b9c;
    --white-smoke: #f5f5f5;
  }
.paragrafo{color: var(--white-smoke)}
body{
    background-color:  var(--grigio-chiaro);
}

*{
    font-family: 'Kanit', sans-serif;
}

/* Navbar */
.navbar{
    transition: 0.3s;
    z-index: 2;
}
.navcustom{
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    width: 70%;
    box-shadow: 4px 4px 5px;
    transition: 0.3s;
}


.nav-link{
    font-size: 25px;
    
    
}
.nav-link:hover{
    color: var(--white-smoke);
}
.dropdown-menu{
    background-color: transparent;
    
}
.dropdown-item{
    color:black;
}
.dropdown-item:hover{
    background-color:var(--grigio-chiaro);
}

/* Header */
.bgimg{
   background-image: url(/public/media/immagineIniziale.jpg);
   width: 100%;
   height: 90vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   
}

/* form login */
.containerlogin {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 100px;
}
.form-control{
    width: 500px;
    background: rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.4px);
    -webkit-backdrop-filter: blur(4.4px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    box-shadow: 4px 4px 5px;
    transition: 0.3s;
}






































































































.marginSection{
    margin-top: 100px;
}

.fade-items{
    width: 50%;
    height: 230px;
    position: relative;
    margin: 30px;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
    border-radius: 15px;
    background: var(--grigio-chiaro);
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

@media screen and (max-width:600px){
    .fade-items{
    height: 450px;
    width: 70%;
    position: relative;
    margin: 30px;
    box-shadow:20px 20px 50px rgba(0,0,0,0.5); 
    border-radius: 15px;
    background: var(--grigio-chiaro);
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    }
}